.project-details-container {
    position: fixed;
    top: 0;
    left: 0;
    /* width: 100%; */
    height: 100vh;
    padding: 10vh 10vw;
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary);
    color: var(--secondary);
    animation: details-in 1s cubic-bezier(0.25, 1, 0.5, 1);
}
@keyframes details-in {
    0% {top: 200%;}
    50% {top: 0; padding-top: 100%;}
    100% {padding: 10vh 10vw;}
}

.project-details-container button {
    position: absolute;
}

.project-details-header {
    margin-bottom: 2rem;
}
.project-details-header h1 {
    font-size: 15vh;
    font-weight: 200;
    font-family: 'Abril Fatface', cursive;
}
.project-details-header h2 {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.project-details-header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.details-text-container {
    position: relative;
    width: 100%;
    overflow-y: clip;
    /* border: 1px solid lime; */
}
.scroll-bar {
    position: absolute;
    height: 50px;
    width: 2px;
    background-color: var(--secondary);
    right: .5vw;
}

.p-details-content {
    max-height: 55vh;
    /* width: 80%; */
    border-right: 1px solid var(--secondary) ;
    overflow-y: scroll;
}

.project-details-container section {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    width: 80%;
    white-space: wrap;
}

.project-details-container section h2 {
    font-weight: 600;    
}

.p-details-img-container {
    height: 35vh;
    max-height: 35vh;
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.p-details-img-container img {
    max-height: 35vh;
}

.details-close {
    top: 200%;
    padding-top: 100%;
    animation: details-out 1s ease;
}
@keyframes details-out {
    0% {top: 0; padding: 10vh 10vw;}
    50% {top: 0; padding-top: 100%;}
    100% {top: 200%;}
}

.details-close-button-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 2.5vh;
    left: 50%;
    transform: translate(-50%);
    height: 0;
    width: 90%;
    z-index: 90;
}
.details-close-button {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 6.8rem;
    cursor: pointer;
}