.project-details-container {
    position: fixed;
    top: 0;
    left: 0;
    /* width: 100%; */
    height: 100vh;
    padding: 15vh 10vw;
    z-index: 20;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary);
    color: var(--secondary);
    animation: details-in 1s cubic-bezier(0.25, 1, 0.5, 1);
}
@keyframes details-in {
    0% {top: 200%;}
    50% {top: 0; padding-top: 100%;}
    100% {padding: 15vh 10vw;}
}

.project-details-container button {
    position: absolute;
}

.project-details-header {
    margin-bottom: 2rem;
}
.project-details-header h1 {
    font-size: 15vh;
    font-weight: 200;
    font-family: 'Abril Fatface', cursive;
}
.project-details-header h2 {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}


.details-text-container {
    position: relative;
    width: 100%;
    /* border: 1px solid lime; */
}
.scroll-bar {
    position: absolute;
    height: 100px;
    width: 1px;
    background-color: var(--secondary);
    right: .5vw;
}

.p-details-content {
    max-height: 50vh;
    /* width: 80%; */
    border-right: 1px solid var(--secondary) ;
    overflow-y: scroll;
}

.project-details-container section {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    width: 80%;
    white-space: wrap;
}

.project-details-container section h2 {
    font-weight: 600;    
}

.p-details-img-container {
    height: 15vh;
    max-height: 15vh;
    min-width: 5rem;
}

.p-details-img-container img {
    max-height: 15vh;
}